{% extends "base.twig" %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="wrapper">
  <h2>{{user.firstName}} {{user.lastName}}</h2>

  {% if successMsg is defined %}
  <div class="msgcard success">{{successMsg}}</div>
  {% endif %}

  {% if errorMsg is defined %}
  <div class="msgcard error">{{errorMsg}}</div>
  {% endif %}

  <section class="card">
    <h3>Passwort ändern</h3>
    <form method="post">
      <input type="password" name="pwold" placeholder="altes Passwort">
      <input type="password" name="pwnew" placeholder="neues Passwort">
      <input type="password" name="pwnewmatch" placeholder="neues Passwort wiederholen">
      <input type="submit" name="pwChange" value="Passwort ändern">
    </form>
  </section>
  <br><br>
  <section class="card">
    <h3>E-Mail ändern</h3>
    bisherige Adresse: {{user.email}}<br>
    <form method="post">
      <input type="email" name="newmail" placeholder="neue E-Mail-Adresse">
      <input type="submit" name="mailChange" value="E-Mail ändern">
    </form>
  </section>
  <br><br>
  <section class="card">
    <h3>Handynummer ändern</h3>
    bisherige Nummer: {{user.phone}}<br>
    <form method="post">
      <input type="tel" name="phone" placeholder="neue Handynummer">
      <input type="submit" name="phoneChange" value="Nummer ändern">
    </form>
  </section>
  <br><br>
  <section class="card">
    <h3>Daten ändern</h3>
    <br>
    <form method="post">
      <label for="inp-first-name">Vorname</label>
      <input type="text" name="firstName" placeholder="Vorname" id="inp-first-name" value="{{user.firstName}}">
      <label for="inp-last-name">Nachname</label>
      <input type="text" name="lastName" placeholder="Nachname" id="inp-last-name" value="{{user.larstName}}">
      <input type="submit" name="nameChange" value="speichern">
    </form>
  </section>
</div>
{% endblock %}